@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgb(36,34,39);
    margin: 0px;
}

.titlesImg{
    width: 350px;
}

.fullWidthImg{
    width: 100%;
    height: auto;
}

.espaciado40{
    margin-top: 40px;
}

.espaciado80{
    margin-top: 80px;
}

.espaciado20{
    margin-top: 20px;
}

.noSpacingImg{
    padding: 0px !important;
}

.ImgMainBackground{
    position: relative;    
}

/***** MENU SECTION*****/
#menu{
    background-image: url(../img/header_79px.jpg); 
    text-transform: uppercase;
}

#navbarNavAltMarkup{
    justify-content: right;
    padding-right: 20px;
}

ion-icon {
    font-size: 24px;
}

#instaIcon{
    padding-bottom: 0px !important;
}

/**** SECTION ABOUT ME****/
#aboutMe{
    padding-top: 15vh;
    padding-bottom: 50px;
}

.description{
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

/**** INSPIRATION ****/

#inspiration{
    position: relative;
    text-align: left; 
}

#inspirationText{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-70%, -50%);
}

/****CONCEPT SECTION****/

#concept{
    padding-top: 15vh;
    padding-bottom: 50px;
    background-color: #E1CBF9;
}

#conceptImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

#conceptText{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

/**** FOOTER SECTION ****/
.containerFooter{
    position: relative;
    text-align: center;
}

.containerText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logoFooter{
    width: 15%;
}

.footerImg{
    width: 10%;
}

.textFooter{
    text-transform: uppercase;
    color: white;
    margin-bottom: 0px;
}

#textFooterCredits{
    padding-top: 4%;
    color: white;
    margin-bottom: 0px;
}

/*** CONTACTAME ***/
#headerContacto{
    margin-top: 5%;
    margin-bottom: 10%;
}

#textContact{
    display: block;
    margin-bottom: auto;
    margin-top: auto;
}

.verticalAling{
    display: block;
    margin-bottom: auto;
    margin-top: auto;
}

/**** PROYECTOS SECTION ****/


/*PDF VIEWER*/

.pdfPorta{
    margin: auto;
    padding: 0px;
    display: block;
    width: 100%;
    height: 100vh;
    border-radius: 20px;
}

/* WONDERWARE TEXT */
#titlesImgLittle{
    width: 300px;
}
#lightBlueText{
    color: #A3BAFF;
    font-weight: 500;
}

#wonderwareGallery{
    text-align: center;
}

.wonderwareGalleryItem{
    width: 225px;
    height: auto;
    padding: 6.5px !important;
}

.heartFooter{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**** VENENO ***/
#venenoText{
    color: #ED4040;
    font-weight: 600;
}

.venenoMainText{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#descriptionVeneno{
    font-weight: 600;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

#pinkVenenoText{
    font-weight: 600;
    color: #FF746B;
}

#venenoTextFooter{
    font-weight: 600;
}

/**** PULSE SECTION ****/
#pulseDescription{
    font-weight: 600;
    align-content: center;
    margin-bottom: auto;
    margin-top: auto;
}

.pulseLastImg{
    text-align: center;
    background-color: #ED4040;
}

#pulse07Img{
    width: 70%;
    padding-bottom: 100px;
}

#pulseLogo{
    width: 15%;
}

#redText{
    text-align: left;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
}

/**** MATINA SECTION **/
#matinaText{
    font-weight: 600;
    color:  #81D0FF;
}

#procesoMatina{
    font-weight: 600;
    color:  #81D0FF;
    font-size: 25px;
    text-align: center; 
    padding: 30px; 
}

.matinaTextOver{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}

/*PASARELA SECTION*/

#descriptionPasarela{
    font-weight: 600;
    text-align: left;
}

#pasarelaText{
    font-weight: 600;
    color: #FF4B5B;
}


/*MEDIA QUERIES*/

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {

}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
    #designerPhoto{
        width: 300px;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) {

}

